*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
.container{
    width: 10%;
}
.container .row{
    width: 580%;
    margin: auto;

}
.container .row .header{
    width: 60%;
    text-align: center;
    margin: auto;
}
.container .row .header h1{
    padding-top: 30px;
    font-size: 45px;
    color: #e19c30;
}
.container .row .header p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
}
.content{
    display: flex;
    justify-content: center;
    margin: auto;
}

.container .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: #fff;

}
.container .card img{
    width: 800px;
    height: 100vh;
   
   
}
.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}
.content .card p{
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}
@media screen and (max-width:768px){
    .content{
        flex-direction: column;

    }
}

